<div class="ui borderless pagination menu" ng-if="1 < pages.length">
    <a ng-click="setCurrent(1)" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }" class="item">
        <i class="left arrow icon"></i>
    </a>
    <a ng-click="setCurrent(pagination.current - 1)" class="item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
       &lsaquo;
    </a>
    <a ng-click="setCurrent(pageNumber)" class="item" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        {{ pageNumber }}
    </a>

    <a ng-click="setCurrent(pagination.current + 1)" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
       &rsaquo;
    </a>
    <a ng-click="setCurrent(pagination.last)" ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        &raquo; <i class="icon right arrow"></i>
    </a>
</div>