<div class="ui menu">
    <a ng-class="{active: menu.isSet('add')}" ui-sref="interests.add()" class="item">
        <i class="large add green icon"></i>
        Добавить
    </a>
    <a ng-class="{active: menu.isSet('list')}" ui-sref="interests.list()" class="item"><i class="large grid layout purple icon"></i>Список</a>
    <a ng-class="{active: menu.isSet('report')}" ui-sref="interests.report()" class="item"><i class="large pie chart basic red icon"></i>Отчет</a>
</div>