a.bx-form-menu
{
	display: inline-block;
	height: 33px;
	margin-right: 4px;
	vertical-align: top;
}

div.bx-crm-view-tab-block a.bx-form-menu
{
	margin: 9px 1px 1px 1px;
	width: 27px;
	height: 19px;
	float: right;
}

div.bx-crm-edit-form
{
	position: relative;
}

div.bx-crm-edit-form a.bx-form-menu span
{
	background-position: 2px 2px;
	background-repeat: no-repeat;
	background-image:url(images/buttons/menu.gif);
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	height: 17px;
	width:25px;
}

div.bx-crm-edit-form-menu-wrapper
{
	position: absolute;
	top:11px;
	right: 20px;
	z-index: 9999;
}

div.bx-crm-view-tab-block a.bx-context-button:hover
{
	border:1px solid #AEB6C2;
	background-color:#DBE3F2;
	margin: 8px 0 0 0;
	width: 27px;
	height: 19px;
	float: right;
}

/* settings window */
option.bx-section {background-color:#E8E8E8 !important;}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.form-settings
{
	background: url("images/buttons/settings.gif") 0 0 !important;
}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.form-settings-off
{
	background: url("images/buttons/settings_off.gif") 0 0 !important;
}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.form-settings-on
{
	background: url("images/buttons/settings_on.gif") 0 0 !important;
}

.table {
    border-collapse: collapse !important;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0px none;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #DDD;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #DDD;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
th {
    text-align: left;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #DDD;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
.table, .table a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}
.title_duplicate {
    color: red;
    font-weight: bold;
}
.ui.label {
    text-transform:none!important;
}