<table class="ui celled table segment" ng-if="interests">
    <thead>
    <tr>
        <th>ID</th>
        <th width="50"><i class="settings icon"></i></th>
        <th>Наименование</th>
        <th>Контакт</th>
        <th>Компания</th>
        <th>Вендор</th>
        <th>Ответственный</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="interest in interests">
        <td ng-bind="interest.Id"></td>
        <td>
            <i ng-click="remove(interest.Id)" class="delete link icon"></i>
        </td>
        <td><a ui-sref="interests.detail({interestId: interest.Id})" ng-bind="interest.Title"></a></td>
        <td ng-bind="interest.Contact.Name"></td>
        <td ng-bind="interest.Company.Title"></td>
        <td ng-bind="interest.Vendor.Title"></td>
        <td ng-bind="interest.Responsible.Name"></td></tr>
    <tr>
    </tbody>
</table>

