<div class="ui form segment">
    <div class="field">
        <label>Территория</label>
        <dropdown title="{{currentArea.Title}}" ng-model="areaModel">
            <dropdown-group value="area.Id" title="area.Title" ng-repeat="area in areas">{{area.Title}}</dropdown-group>
        </dropdown>
    </div>
    <div class="field">
        <checkbox checked="false" ng-model="filterEmpty">Убрать пустые</checkbox>
    </div>
    <div class="field">
        <label>Ответственный:</label>
        <user-selector value="{{Interest.Responsible.Id}}" ng-model="Interest.Responsible.Id"></user-selector>
    </div>
    <div class="field">
        <label>Вендоры</label>
        <select kendo-multi-select k-options="selectOptions" k-ng-model="vendorIds"></select>
    </div>
    <div class="field">
        <label>Партнеры</label>
        <select k-data-source="partners" kendo-multi-select k-options="selectPartnerOptions" k-ng-model="partnerIds"></select>
    </div>
</div>


<table class="ui celled table segment">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="v in vendors">{{v.Title}}</th>
        </tr>
    </thead>

    <tr dir-paginate="c in companies | itemsPerPage: 25" total-items="totalCompanies">
        <td class="row-label"><a target="_blank" ng-href="{{c.Url}}">{{c.Title}}</a></td>
        <td ng-repeat="v in vendors">
            <div class="ui bulleted mini list" ng-if="cells[c.Id][v.Id]">
                <div class="item" ng-repeat="cell in cells[c.Id][v.Id]"><a ui-sref="interests.detail({interestId: cell.Id})">{{cell.Title}}</a></div>
            </div>
        </td>
    </tr>
</table>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>