    <div class="ui form segment">
        <div class="field">
            <b>Наименование:</b>
            <input ng-bind="Interest.Title" type="text" ng-model="Interest.Title" />
        </div>
        <div class="field">
            <b>Ответственный:</b>
            <br/>
            <user-selector value="{{Interest.Responsible.Id}}" ng-model="Interest.Responsible.Id"></user-selector>
        </div>
        <div class="field">
            <b>Контакт:</b>
            <contact-selector value="{{Interest.Contact.Name}}" ng-model="Interest.Contact.Id"></contact-selector>
        </div>
        <div class="field">
            <b>Компания:</b>
            <company-selector value="{{Interest.Company.Title}}" ng-model="Interest.Company.Id"></company-selector>
        </div>
        <div class="field">
            <b>Вендор:</b>
            <br/>
            <vendor-selector value="{{Interest.Vendor.Id}}" ng-model="Interest.Vendor.Id"></vendor-selector>
        </div>
        <div class="field">
            <b>Комментарий:</b>
            <textarea ng-bind="Interest.Comment" ng-model="Interest.Comment"></textarea>
        </div>
        <button class="ui small button" ng-click="done()"><i class="save icon"></i>Сохранить</button>
    </div>
<activities></activities>



