<div ng-if="Interest">
    <div class="ui form segment">
        <div class="field">
            <b>Наименование:</b>
            <span ng-bind="Interest.Title"></span>
        </div>
        <div class="field">
            <b>Ответственный:</b>
            <span ng-bind="Interest.Responsible.Name"></span>
        </div>
        <div class="field">
            <b>Контакт:</b>
            <span ng-bind="Interest.Contact.Name"></span>
        </div>
        <div class="field">
            <b>Компания:</b>
            <span ng-bind="Interest.Company.Title"></span>
        </div>
        <div class="field">
            <b>Вендор:</b>
            <span ng-bind="Interest.Vendor.Title"></span>
        </div>
        <div class="field">
            <b>Комментарий:</b>
            <span ng-bind="Interest.Comment"></span>
        </div>
        <button class="ui small button" ng-click="edit()"><i class="edit icon"></i> Редактировать</button>
    </div>
</div>
<activities></activities>

