<div class="ui segment">
    <div ng-class="{active: loader}" class="ui dimmer">
        <div class="ui text loader">Загрузка данных</div>
    </div>
    <interests></interests>
    <div style="display: none;" class="ui error message">
    </div>
    <div style="display: none;" class="ui info message">
    </div>
</div>