<div class="ui segment" style="min-height: 150px;">
    <div ng-class="{active: loader}" class="ui dimmer">
        <div class="ui text loader">Загрузка данных</div>
    </div>
    <report></report>
</div>